@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:  "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
}
html, body{
    background-color: darkgray;
    min-height: 100%;
    font-family: var(--fonte1);
  
}

* {
    margin: 0px;
    padding: 0px;
    
}

header{
    background-image: linear-gradient(to top, rgb(195, 11, 11), rgb(43, 4, 4));
    color: white;
    text-align: center;
    font-family: var(--fonte3);
    
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 80px;
}

header > p{
    padding-bottom: 50px;
    font-size: 35px;

}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder
}

header a:hover, footer a:hover{
    text-decoration: underline;

}


section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 25px;
}


section.normal{
    background-color: white;
    color: rgb(0, 0, 0);

}

section.imagem{
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);


}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.175);

}

footer{
    padding: 10px;
    background-color: rgb(195, 11, 11);
    color: white;
    text-align: center;

}